<div class="row header">
    <div class="col-xs-12">
        <div class="user pull-right">
            <div class="item dropdown" ng-class="{'open': dropdownOne}" ng-click="toggleDropdownOne()" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="link">
                        <a ng-click="logout()">
                            Wyloguj !
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>