<div class="modal-header">
    <h3 class="modal-title">Dodawanie protokołu</h3>
</div>
<div class="modal-body">
    <div>
        <form name="orderForm">
            <fieldset>
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label" for="issuer">Osoba Wystawiąjąca</label>
                        <input class="form-control" name="issuer" type="text" ng-model="order.issuer"/>
                        <label ng-show="formErrors.issuer" class="alert alert-danger">Pole osoba wystawiająca jest wymagane!</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="checker">Magazynier</label>
                        <input class="form-control" name="checker" type="text" ng-model="order.checker"/>
                        <label ng-show="formErrors.checker" class="alert alert-danger">Pole osoba sprawdzająca jest wymagane!</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="date">Data</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="order.created_at" 
                                   is-open="popup" datepicker-options="dateOptions" show-button-bar="false" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default button-picker" ng-click="startDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <label ng-show="formErrors.created_at" class="alert alert-danger">Pole data jest wymagane!</label>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-default">Wróć</button>
    <button ng-click="save()" class="btn btn-primary">Dodaj</button>
</div>
