<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">Edycja Protokołu</div>
        <div class="panel-body">
            <div class="form-group">
                <form name="orderForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label" for="issuer">Osoba Wystawiąjąca</label>
                                <input class="form-control" name="issuer" type="text" ng-model="order.issuer"/>
                                <label ng-show="formErrors.issuer" class="alert alert-danger">Pole osoba wystawiająca jest wymagane!</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="checker">Osoba Sprawdzająca</label>
                                <input class="form-control" name="checker" type="text" ng-model="order.checker"/>
                                <label ng-show="formErrors.checker" class="alert alert-danger">Pole osoba sprawdzająca jest wymagane!</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="authoriser">Osoba Zatwierdzająca</label>
                                <input class="form-control" disabled name="authoriser" type="text" ng-model="order.authoriser"/>
                                <label ng-show="formErrors.authoriser" class="alert alert-danger">Pole osoba zatwierdzająca jest wymagane!</label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button ng-click="cancel()" class="btn btn-default">Wróć</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <button ng-click="saveOrder(order)" class="btn btn-primary" ng-disabled="orderForm.$invalid">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>