<div class="row">
    <div class="panel-body">
        <form name="searchForm">
            <fieldset>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group activites-select">
                        <label for="name">Nazwa</label>
                        <input type="text" name="name" class="form-control" ng-model="search.name" required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group activites-select">
                        <label for="person">Osoba Wystawiająca</label>
                        <input type="text" name="person" class="form-control" ng-model="search.person" required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group activites-select">
                        <label for="sender">Nadawca</label>
                        <input type="text" name="sender" class="form-control" ng-model="search.sender" required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group activites-select">
                        <label for="number">Numer Listu</label>
                        <input type="text" name="number" class="form-control" ng-model="search.number" required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group activites-select">
                        <label for="person">Data Utworzenia</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="search.date" 
                                   is-open="popup" datepicker-options="dateOptions" show-button-bar="false" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default button-picker" ng-click="startDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group activites-select">
                        <div class="form-group">
                            <label class="control-label" for="company">Firma</label>
                            <select name="company" class="form-control" placeholder="-- Wybierz --" ng-model="search.company" required>
                                <option ng-repeat="company in companies" ng-selected="{{company == search.company}}" value="{{company}}">{{company}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group activites-select">
                        <label for="document">Numer Dokumentu</label>
                        <input type="text" name="document" class="form-control" ng-model="search.document" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-md-2 pull-right">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-info rounded" ng-click="searchOrders(search)"><i class="fa fa-search"></i></a>
                                <a class="btn btn-danger rounded" ng-if="check" ng-click="clearSearch()"><i class="fa fa-times"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="form-group text-center">
        <div class="col-md-12">
            <h3>
                <strong>
                    Protokoły Zwrotów <button class="btn btn-success pull-right" ng-click="addOrder()">Dodaj</button>
                </strong>
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover" ng-if="!isLoading">
            <thead>
                <tr>
                    <th>
                        <span href="#" ng-click="sortType = 'id';
                            sortReverse = !sortReverse">
                            Numer Protokołu
                            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                        </span>
                    </th>
                    <th>
                        <span ng-click="sortType = 'created_at';
                            sortReverse = !sortReverse">
                            Data
                            <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-up"></span>
                        </span>
                    </th>
                    <th>
                        <span ng-click="sortType = 'issuer';
                            sortReverse = !sortReverse">
                            Spisał
                            <span ng-show="sortType == 'issuer' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'issuer' && sortReverse" class="fa fa-caret-up"></span>
                        </span>
                    </th>
                    <th>
                        <span ng-click="sortType = 'checker';
                            sortReverse = !sortReverse">
                            Magazynier
                            <span ng-show="sortType == 'checker' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'checker' && sortReverse" class="fa fa-caret-up"></span>
                        </span>
                    </th>
                    <th>
                        <span ng-click="sortType = 'company';
                            sortReverse = !sortReverse">
                            Firma
                            <span ng-show="sortType == 'company' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'company' && sortReverse" class="fa fa-caret-up"></span>
                        </span>
                    </th>
                    <th class="text-center">
                        Akcje
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-class="{'label-success-row': val.status == 2}" 
                    ng-repeat="(key, val) in returners | orderBy: sortType: sortReverse">
                    <td>
                        Protokół {{val.id}}
                    </td>
                    <td>
                        {{val.created_at}}
                    </td>
                    <td>
                        {{val.issuer}}
                    </td>
                    <td>
                        {{val.checker}}
                    </td>
                    <td>
                        {{val.company}}
                    </td>
                    <td>
                        <span ng-if="permissions.user.role == 'admin'" ng-really-header="Usuń protokół" ng-really-message="Czy na pewno chcesz usunąć protokół?" ng-really-click="removeOrder(val.id)" ng-click="remove()" style="float: right" class="btn btn-link btn-sm">
                            <button class="btn btn-danger btn-addon btn-actions"><i class="fa fa-times"></i> Usuń</button>
                        </span>
                        <span ng-if="permissions.user.role != 'user'" ui-sref="returnView({returnId: val.id})"style="float: right" class="btn btn-link btn-sm">
                            <button class="btn btn-info btn-addon btn-actions"><i class="fa fa-pencil"></i> Edytuj</button>
                        </span>
                        <span ui-sref="orderProductsList({returnId: val.id})" style="float: right" class="btn btn-link btn-sm">
                            <button class="btn btn-success btn-addon btn-actions"><i class="fa fa-pencil"></i> Otwórz</button>
                        </span>
                    </td>
                </tr>
                <tr ng-if="returners.length == 0">
                    <td colspan="9" class="text-center">
                        <h3>Brak Wyników !</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>