<div class="modal-header">
    <h3 class="modal-title">Dodawanie produktu</h3>
</div>
<div class="modal-body">
    <div>
        <form name="productForm">
            <fieldset>
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label" for="name">Nazwa Produktu</label>
                        <input class="form-control" name="name" type="text" ng-model="product.name"/>
                        <label ng-show="formErrors.name" class="alert alert-danger">Pole nazwa produktu jest wymagane!</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="person">Osoba Dodająca</label>
                        <input class="form-control" disabled name="person" type="text" ng-model="product.person"/>
                        <label ng-show="formErrors.person" class="alert alert-danger">Pole osoba dodająca jest wymagane!</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="subiect">Subiekt</label>
                        <input class="form-control" name="subiect" type="text" ng-model="product.subiect" ng-pattern="/^([a-zA-Z0-9-]{8,10})$/" ng-minlength="8" ng-maxlength="10"/>
                        <label ng-show="formErrors.subiect" class="alert alert-danger">Pole subiekt jest wymagane!</label>
                        <label ng-show="productForm.subiect.$invalid" class="alert alert-danger">Pole subiekt wymaga od 8 do 10 znaków!</label>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-default">Wróć</button>
    <button ng-click="save()" class="btn btn-primary" ng-disabled="productForm.$invalid">Dodaj</button>
</div>
