<div class="modal-header">
    <h3 class="modal-title">Oceń {{place.name}} !</h3>
</div>
<div class="modal-body">
    <div>
        <form name="rateForm">
            <fieldset>
                <div class="form-group" ng-repeat="question in questions">
                    <div ng-if="question.type == 'sex'">
                        <label class="control-label" for="{{question.id}}">{{question.description}}</label>
                        <select class="form-control" ng-model="rate.answers[question.id]">
                            <option data-ng-repeat="sex in sexs" value="{{sex.id}}" ng-selected="sex.id == rate.answers[question.id]">{{sex.name}}</option>
                        </select>
                    </div>
                    <div ng-if="question.type == 'age'">
                        <label class="control-label" for="{{question.id}}">{{question.description}}</label>
                        <input class="form-control" name="{{question.id}}" type="number" min="1" max="100" ng-model="rate.answers[question.id]"/>
                    </div>
                    <div ng-if="question.type == 'voivodeship'">
                        <label class="control-label" for="{{question.id}}">{{question.description}}</label>
                        <select class="form-control" ng-model="rate.answers[question.id]">
                            <option data-ng-repeat="voivd in voivodeships" value="{{voivd.id}}" ng-selected="voivd.id == rate.answers[question.id]">{{voivd.name}}</option>
                        </select>
                    </div>
                    <div ng-if="question.type == 'student'">
                        <label class="control-label" for="{{question.id}}">{{question.description}}</label>
                        <select class="form-control" ng-model="rate.answers[question.id]">
                            <option data-ng-repeat="student in students" value="{{student.id}}" ng-selected="student.id == rate.answers[question.id]">{{student.name}}</option>
                        </select>
                    </div>
                    <div ng-if="question.type == 'score'">
                        <label class="control-label" for="{{question.id}}">Oceń w skali od 0 do 5. (0 - nie wiem, 1-5 - ocena)</label>
                        <label class="control-label" for="{{question.id}}">{{question.description}}</label><br/>
                        <input-stars max="5" ng-model="rate.answers[question.id]"></input-stars>
                    </div>
                </div>
                <div class="form-group centered">
                    <span ng-show="formErrors" class="alert alert-danger">Nie wszystkie pola zostały wypełnione !</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-default">Wróć</button>
    <button ng-click="save()" class="btn btn-primary">Dodaj</button>
</div>
