<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">Dashboard - Zawartość</div>
        <div class="panel-body">
            <div class="form-group">
                <form name="dashboardForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label" for="content">Zawartość</label>
                                <textarea rows="6" class="form-control" name="content" type="text" ng-model="dashboard.content"></textarea>
                                <label ng-show="formErrors.content" class="alert alert-danger">Pole zawartość jest wymagane!</label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button ng-click="cancel()" class="btn btn-default">Wróć</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <button ng-click="saveDashboard(dashboard)" class="btn btn-primary" ng-disabled="dashboardForm.$invalid">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>