<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">Edycja Dostawy</div>
        <div class="panel-body">
            <div class="form-group">
                <form name="providerForm">
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label" for="name">Towar</label>
                                <input class="form-control" name="name" type="text" ng-model="provider.name"/>
                                <label ng-show="formErrors.name" class="alert alert-danger">Pole nazwa produktu jest wymagane!</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="date">Data</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="provider.date" 
                                           is-open="popup" datepicker-options="dateOptions" show-button-bar="false" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default button-picker" ng-click="startDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <label ng-show="formErrors.date" class="alert alert-danger">Pole data jest wymagane!</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status">Status</label>
                                <select class="form-control" placeholder="-- Wybierz --" ng-options="status as status.name for status in statuses" ng-model="provider.status">
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button ng-click="cancel()" class="btn btn-default">Wróć</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <button ng-click="saveProvider(provider)" class="btn btn-primary" ng-disabled="providerForm.$invalid">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>