<div class="row">
    <div class="panel-body">
        <div class="row">
            <button ng-click="addPlace()" class="btn btn-primary pull-right">Dodaj Uczelnię</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
            <div>Nazwa</div>
            </th>
            <th>
            <div>Adres</div>
            </th>
            <th>
            <div>Data Modyfikacji</div>
            </th>
            <th>
            <div>Akcje</div>
            </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="place in places">
                    <td>
                        {{place.name}}
                    </td>
                    <td>
                        {{place.address|| '-'}}
                    </td>
                    <td>
                        {{place.updated_at|| '-'}}
                    </td>
                    <td>
                        <span ng-click="remove($event, place.id)" style="float: right" class="btn btn-link btn-sm">
                            <button class="btn btn-danger btn-addon"><i class="fa fa-times"></i> Usuń</button>
                        </span>
                        <span ng-click="editPlace(place.id)" style="float: right" class="btn btn-link btn-sm">
                            <button class="btn btn-info btn-addon"><i class="fa fa-pencil"></i> Edytuj</button>
                        </span>
                    </td>
                </tr>
                <tr ng-if="places.length === 0">
                    <td colspan="4" class="text-center">
                        <h3>Brak Wyników !</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>